[run]
omit =
    */migrations/*
    */tests/*
    tests/*
    */test_*.py
    */conftest.py
    */factories.py
    manage.py
    */admin.py
    */asgi.py
    */wsgi.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
